<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraftando pelos Biomas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Minecraftando pelos Biomas</h1>
        <h3>EEEFM Coronel Olímpio Cunha</h3>
    </header>
    <div class="login-container">
        <h1 id="form-title">Digite a senha</h1>
        <form id="password-form">
            <input type="text" id="password" name="password" placeholder="Insira sua senha" required autocomplete="off">
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div id="questions-container" style="display: none;">
        <h1 id="questions-title">Responda às perguntas</h1>
        <form id="answers-form">
            <!-- Perguntas serão inseridas aqui via JavaScript -->
            <button type="submit">Enviar Respostas</button>
        </form>
    </div>

    <script src="/script.js"></script>
</body>
</html>